# Cosmic API credentials
NEXT_PUBLIC_COSMIC_BUCKET_SLUG=your-bucket-slug
COSMIC_READ_KEY=your-read-key

# Cosmic Insights
COSMIC_INSIGHTS_PROJECT=6a6369c8d8e32f8df93cbad4
NEXT_PUBLIC_COSMIC_INSIGHTS_PROJECT=6a6369c8d8e32f8df93cbad4
